---
import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "../../lib/load-query";
import BaseLayout from "../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const { data: allBooks } = await loadQuery<SanityDocument[]>({
    query: `*[_type == "book"]`,
  });

  return allBooks.map(({ slug }) => {
    return {
      params: {
        slug: slug.current,
      },
    };
  });
}

const { params } = Astro;

const { data: book } = await loadQuery({
  query: `*[_type == "book" && slug.current == $slug][0]{
    name, 
    authors[]->,
    status,
    rating,
    series->,
    literaryGenre,
    poetrySubgenre,
    fictionSubgenre,
    nonfictionSubgenre,
    dramaSubgenre,
    publishMonth,
    publishYear,
    bc,
    notes}`,
  params,
});
---

<BaseLayout>
  <h1>{book.name}</h1>
  <ul>
    <li>
      <span>Author:&nbsp;&nbsp;</span>
      {
        book.authors !== null
          ? book.authors.map((author) => (
              <a href={"/authors/" + author.slug.current}>{author.name}</a>
            ))
          : ""
      }
    </li>
    {
      book.series !== null ? (
        <li>
          <>
            <span>Series:&nbsp;&nbsp;</span>
            <a href={"/series/" + book.series.slug.current}>
              {book.series.name}
            </a>
          </>
        </li>
      ) : (
        <div />
      )
    }
    <li>
      <span>Genre:&nbsp;&nbsp;</span>
      {book.literaryGenre}
      {
        book.poetrySubgenre !== null
          ? `| ${book.poetrySubgenre}`
          : book.fictionSubgenre !== null
            ? `| ${book.fictionSubgenre}`
            : book.nonfictionSubgenre !== null
              ? `| ${book.nonfictionSubgenre}`
              : book.dramaSubgenre !== null
                ? `| ${book.dramaSubgenre}`
                : ""
      }
    </li>
    <li>
      <span>Status:&nbsp;&nbsp;</span>
      <span
        id="tag"
        class={book.status === "Completed"
          ? "bg-green-300 border-green-700 text-slate-900"
          : book.status === "In Progress"
            ? "bg-orange-300 border-orange-300 text-slate-900"
            : book.status === "Abandoned"
              ? "bg-red-300 border-red-300 text-slate-900"
              : "bg-blue-300 text-slate-900"}>{book.status}</span
      >
    </li>
    {
      book.rating !== null ? (
        <li>
          <span>Rating:&nbsp;&nbsp;</span>
          {book.rating}
        </li>
      ) : (
        ""
      )
    }
  </ul>
</BaseLayout>
